body {
    font-family: "Poppins";
}

.header {
    background-image: url(../images/bg-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.title {
    font-size: 3.4em;
}